* {
  font-family: 'Cormorant Garamond', 'Arial', sans-serif;
}

:root {
  --grey-text: #646464;
  --sandy-color: #fef2d2;
  --blue-color: rgb(205, 230, 255);
  --soft-beige: #f9eedc;
  --peachy-pink: #fce8d5;
  --old-dark-blue: #42749b;
  --light-grey: #bac4c7;

  --dark-blue: #000137;
  --soft-gray: #D3D3D3; /* Complementary Soft Gray */
  --cream-white: #FFF8E1; /* Complementary Cream White */
  --blue-grey: #979EBA; /* Complementary Blue Grey */
}

body {
  background-color: #fff;
  color: var(--grey-text);
}

.App {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #0077b6;
}

a:hover {
  color: #023e8a;
}


.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}